html, body {
  background: #8CB4CC;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: Srisakdi;
}

label {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
}

div .nav-wrapper {
  box-shadow: none !important;
  background: #f5ce83;
}

input {
  color: #ffffff;
  font-size: 1.2rem !important;
}

.todo-app .container {
  width: 50% !important;
  height: 100%;
}

h6 {
  color: brown;
  font-weight: bold;
}

button {
  margin: 5px;
  box-shadow: none !important;
  background: #4F9C5E !important;
}
